<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Bandas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/led zeppelin.jpg" alt="">
    <ion-card-header>
      <ion-card-subtitle>
        banda de rock & roll
      </ion-card-subtitle>
      <ion-card-title>
        led zeppelin
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      led zeppelin fue un grupo britanico de hard rock fundado en 1968 por el guitarrista jimmy page. la banda estuvo
      integrada por john paul jones como bajista y tecladista, el vocalista robert plant y john bonham a la bateria
    </ion-card-content>
  </ion-card>


</ion-content>